{{ define "main" }}
  <article>
    <time datetime="{{ .Date }}">{{ dateFormat "Jan 2, 2006" .Date }}</time>
    <h1>{{ .Title }}</h1>
    <section class="body">
			{{ .Content }}
		</section>
    <div class="tags">
      {{ range .Params.tags }}
        <li><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a></li>
      {{ end }}
      {{ range .Params.categories }}
        <li><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </div>
    <div class="next-and-prev">

      {{- $pages := ($.Site.GetPage "section" .Section).Pages.ByParam "chapter" }}
      {{- $.Scratch.Set "curPosition" 0 }}
      {{- $.Scratch.Set "index" 0 }}
      {{- range $pages }}
        {{- if eq $ . }}
          {{- $.Scratch.Set "curPosition" ($.Scratch.Get "index") }}
        {{- end }}
        {{- $.Scratch.Add "index" 1 }}
      {{- end }}
      {{- $next := (index $pages (add ($.Scratch.Get "curPosition") 1)) }}
      {{- $prev := (index $pages (sub ($.Scratch.Get "curPosition") 1)) }}


      {{ with $prev }}<a href="{{ .Permalink }}" class="next"><svg width="18" height="10" xmlns="http://www.w3.org/2000/svg" class="icon icon-arrow-left"><path d="M4.078 5.636l4.867 3.819-.72.545C5.108 7.788 3.394 6.758 0 5l1.134-.585C3.823 3.007 5.504 1.952 8.226 0l.72.545-4.868 3.819H18v1.272H4.078z" fill="{{ $.Site.Params.accent_color }}" fill-rule="nonzero"></path></svg> Next Post</a>{{ end }}
      {{ with $next }}<a href="{{ .Permalink }}" class="prev">Previous Post <svg width="18" height="10" xmlns="http://www.w3.org/2000/svg" class="icon icon-arrow-left"><path d="M13.922 5.636L9.055 9.455l.72.545C12.892 7.788 14.606 6.758 18 5l-1.134-.585C14.177 3.007 12.496 1.952 9.774 0l-.72.545 4.868 3.819H0v1.272h13.922z" fill="{{ $.Site.Params.accent_color }}" fill-rule="nonzero"></path></svg></a>{{ end }}
    </div>
  </article>
{{ end }}
